.header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: white;
    color: black;
    border: 2px solid rgb(182, 112, 248);
}

.header button:hover {
    background-color: rgb(182, 112, 248);
    color: white;
}

